.flexRowContent--container-live {
    width: 100%;
}

.flexRow--container-live :global(.vtex-store-components-3-x-container) {
    width: 100%;
    max-width: initial;
}

.flexCol--livestreaming {
    width: calc(100vw - 50rem);
    background-color: #ffffff;
    height: calc(100vh - 128px);
}

.flexCol--chat {
    width: 23rem;
    height: calc(100vh - 128px);
}

.flexColChild--chat {
    background-color: white;
    box-shadow: -2px -4px 5px #55555536;
    padding: 15px;
    z-index: 1;
}

.flexCol--product-list {
    width: 25rem;
    height: calc(100vh - 128px);
}

.flexColChild--product-list {
    background: #fff;
    box-shadow: 2px -4px 5px #55555536;
    padding: 15px;
    z-index: 1;
}

.flexRowContent--counter {
    align-items: center;
}

.flexCol--content-image  {
    max-width: 10rem;
}

.flexCol--content-info {
    padding-left: 10px;
}

.flexColChild--content-info :global(.vtex-button) {
    background-color: #f71963;
    border-color: #f71963;
    outline: none;
}

.flexColChild--content-info :global(.vtex-add-to-cart-button-0-x-buttonText) {
    color: #fff;
}

@media all and (max-width: 760px) {
    .flexCol--product-list {
        width: 100%;
        height: initial;
    }

    .flexRowContent--content-product {
        display: flex;
        flex-wrap: nowrap;
    }

    .flexCol--livestreaming {
        width: 100%;
        padding: 10px 0;
        height: initial;
        border: none;
    }

    .flexCol--chat {
        width: 100%;
        height: initial
    }

    .flexRowContent--counter {
        display: flex;
    }

    .flexCol--livestreaming {
        background-color: transparent;
    }

    .flexCol--content-image {
        max-width: 8rem;
    }
}

.flexRowContent--general {
    padding-right: 15px;
}