.flexRowContent--container-live {
    width: 100%;
}

.flexRow--container-live :global(.vtex-store-components-3-x-container) {
    width: 100%;
    max-width: initial;
}

.flexCol--livestreaming {
    width: calc(100vw - 50rem);
    padding: 10px;
    background-color: #ffffff;
    height: calc(100vh - 128px);
    border-left: 1px solid #e4e4e4;
}

.flexCol--chat {
    width: 25rem;
    height: calc(100vh - 128px);
}

.flexCol--product-list {
    width: 25rem;
    height: calc(100vh - 128px);
    background-color: #F7F9FA;
}

.flexRowContent--counter {
    align-items: center;
}

.flexCol--content-image  {
    max-width: 10rem;
}

.flexCol--content-info {
    padding-left: 10px;
}

@media all and (max-width: 760px) {
    .flexCol--product-list {
        width: 100%;
        height: initial;
    }

    .flexRowContent--content-product {
        display: flex;
        flex-wrap: nowrap;
    }

    .flexCol--livestreaming {
        width: 100%;
        padding: 10px 0;
        height: initial;
        border: none;
    }

    .flexCol--chat {
        width: 100%;
        height: initial
    }

    .flexRowContent--counter {
        display: flex;
    }
}