.container--summary-chat {
    max-width: 100% !important;
    box-shadow: 0 0 5px #55555536;
    margin-bottom: 15px;
    padding: 7px 15px;
    background-color: white;
}

@media all and (max-width: 760px) {
    .containerNormal--summary-chat {
        height: auto;
    }

    .nameContainer, .priceContainer {
        padding: 5px 0;
    }
}

.priceContainer {
    align-items: flex-start;
    padding: 5px 0 10px 0;
}

.nameContainer {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px 0 10px 0;
}

.nameWrapper {
    text-align: left;
}