.container {
  padding-top: 1rem;
}

.infoCardTextContainer--infoCardPixel {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.infoCardContainer--infoCardIphone {
  padding-bottom: 20rem;
  background-position-y: 5rem;
}

.infoCardSubhead--infoCardIphone {
  margin-top: 1rem;
}

.infoCardCallActionContainer--infoCardIphone {
  margin-top: 0;
  text-decoration: none !important;
}

.infoCardCallActionText--infoCardIphone {
  text-decoration: none !important;
}

.infoCardContainer--infoCardMacBook {
  background-color: #f2f2f2;
  background-size: 60% !important;
  background-position: bottom;
  flex-direction: column;
  justify-content: flex-start;
}

.infoCardContainer--infoCardStadia,
.infoCardContainer--infoCardGoogleHome {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
